<StackLayout height="100%" width="100%">
    <RadCartesianChart height="auto" width="auto">

        <LinearAxis allowPan="true" allowZoom="true" tkCartesianVerticalAxis></LinearAxis>

        <CategoricalAxis allowPan="true" allowZoom="true" labelFitMode="Rotate" labelLayoutMode="Outer"
            tkCartesianHorizontalAxis>
        </CategoricalAxis>

        <!-- Bar -->
        <BarSeries tkCartesianSeries height="auto" stackMode="Stack" [items]="chartItems" [categoryProperty]="xAxis"
            [valueProperty]="yAxis">
        </BarSeries>

    </RadCartesianChart>
</StackLayout>