.default {
    border: 1 solid black;
    padding: 5 15;
    /* background-color: red;
    color: yellow; */
    font-size: 14;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 20 10;
    color: #0086cd;
}

.datasetLabel {
    font-size: 14;
    text-align: left;
    padding: 5 0;
    margin: 20 10;
}

.varLabel {
    font-size: 14;
    text-align: center;
    padding: 5 0;
    margin: 0 10;
}

.btn-primary {
    background-color: #0086cd;
    color: white;
}
