<ns-action-bar [title]="title"></ns-action-bar>

<StackLayout>

    <GridLayout row="0" col="0" rows="auto, auto, auto" columns="*, *">

        <Label class="varLabel" row="0" col="0" text="Selecionar Dataset"></Label>

        <DropDown class="default" [items]="datasetsDisponiveis" [(ngModel)]="datasetSelecionado" hint=""
            (selectedIndexChanged)="onchange($event)" row="0" col="1">
        </DropDown>

    </GridLayout>

    <GridLayout row="0" col="0" rows="auto, auto, auto" columns="*, 3*">

        <Label class="varLabel" row="0" col="0" text="Variável X"></Label>

        <DropDown #dd1 class="default" [items]="var1" [(ngModel)]="xAxis" hint=""
            (selectedIndexChanged)="onchange($event)" row="0" col="1">
        </DropDown>

        <Label class="varLabel" row="1" col="0" text="Variável Y"></Label>

        <DropDown #dd2 class="default" [items]="var2" [(ngModel)]="yAxis" hint=""
            (selectedIndexChanged)="onchange($event)" row="1" col="1">
        </DropDown>

    </GridLayout>

    <Button class="btn btn-primary" row="2" col="0" (tap)="gerarGrafico()" text="Gerar gráfico"
        style="font-size: 12"></Button>

</StackLayout>